<h1>Create Article</h1>

<form method="post" action="/create">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Article name">

    <label for="slug">Slug</label>
    <input type="text" name="slug" id="slug" placeholder="Article slug">

    <label for="image">Image</label>
    <input type="text" name="image" id="image" placeholder="Article image">

    <label for="body">Body</label>
    <textarea  name="body" id="body" placeholder="Article body"></textarea>

    <label for="author_id">Author</label>
    <input type="text" name="author_id" id="author_id" placeholder="Article author id">

    <button>Publish</button>
</form>